@use "global" as *;

.aboutus {
}

.aboutus__wrapper {
  margin-top: rem(strip-unit(24px));
  //   display: flex;
  //   flex-direction: column;
}

.aboutus__images {
  position: relative;
}

.aboutus__image {
  position: absolute;
}

.aboutus__image-main {
  z-index: 10;
  top: rem(strip-unit(26px));
  right: 0;
  width: clamp(17.563rem, -16.039rem + 143.37vw, 52.688rem);
  //   281px->843px |  3759x->767px
}

.aboutus__image-sub {
  top: 0;
  left: 0;
  z-index: 11;
  //   width: rem(strip-unit(194px));
  width: clamp(8rem, -7.306rem + 65.31vw, 24rem);
  //   128px->384px |  3759x->767px
  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 194/128;
  }
  //   .c-imgZoom {
  //     position: relative;
  //     overflow: hidden;

  //     img {
  //       object-fit: cover;
  //       transition: transform 0.8s;
  //     }
  //   }

  @include mq(md) {
    .c-imgZoom:hover img {
      transform: scale(1.2);
      transition: transform 0.8s;
    }
  }
}

.aboutus__image-icon {
  display: none;
  @include mq(md) {
    top: 0;
    left: 0;
    z-index: 12;
  }
}

.aboutus__content {
  z-index: 15;
  padding-top: clamp(17.563rem, -16.039rem + 143.37vw, 52.688rem);
  //   281px->843px |  3759x->767px
}

.aboutus__title {
  color: $d-green;
  font-family: $third-font-family;
  font-weight: $normal;
  font-size: rem(strip-unit(40px));
  line-height: 1; /* 100% */
}

.aboutus__text {
  color: $black;
  font-size: rem(strip-unit(16px));
  line-height: 1.5; /* 150% 24px */
}

.aboutus__button {
  margin-top: rem(strip-unit(50px));
  margin-inline: auto;
  @include mq(md) {
    margin-top: rem(strip-unit(50px));
  }
}

.button {
}

.button__text {
}
