@use "global" as *;

.aboutus {
  margin-top: rem(strip-unit(82px));
  margin-bottom: rem(strip-unit(40px));
  @include mq(md) {
    margin-top: rem(strip-unit(140px));
    padding-bottom: rem(strip-unit(66px));
  }
}

.aboutus__wrapper {
  margin-top: rem(strip-unit(30px));
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(40px));
  @include mq(md) {
    position: relative;
    margin-top: rem(strip-unit(44px));
  }
}

.aboutus__images {
  position: relative;
}

.aboutus__image {
  // text-align: right;
}

.aboutus__image-main {
  margin: 0 0 0 auto;
  margin-top: rem(strip-unit(26px));

  width: clamp(17.563rem, -16.039rem + 143.37vw, 52.688rem);
  //   281px->843px |  3759->767px
  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 194/128;
  }
  @include mq(md) {
    margin-top: rem(strip-unit(80px));
    width: rem(strip-unit(880px));
  }
}

.aboutus__image-sub {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  //   width: rem(strip-unit(194px));
  width: clamp(8rem, -3.48rem + 48.98vw, 20rem);
  //   128px->320px |  375x->767px
  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 194/128;
  }
  @include mq(md) {
    width: rem(strip-unit(400px));
  }

  // @include mq(md) {
  //   .c-imgZoom:hover img {
  //     transform: scale(1.2);
  //     transition: transform 0.8s;
  //   }
  // }
}

.aboutus__image-icon {
  display: none;
  @include mq(md) {
    position: absolute;
    display: block;
    bottom: rem(strip-unit(-90px));
    // left: calc(50% + rem(strip-unit(30px)));
    // left: calc(100% - $padding-pc - rem(strip-unit(56px)));
    left: calc(
      50% + clamp(14.375rem, -0.768rem + 31.55vw, 27.625rem)
    ); //230px->442px | 768px ->1440 px
    z-index: 12;
    width: rem(strip-unit(194px));
    height: rem(strip-unit(181px));
    // flex-shrink: 0;
  }
}

.aboutus__content {
  z-index: 15;
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(15px));
  //   padding-top: clamp(17.563rem, -16.039rem + 143.37vw, 52.688rem);
  //   281px->843px |  3759x->767px
  @include mq(md) {
    position: absolute;
    flex-direction: row;
    gap: rem(strip-unit(40px));

    top: 30%;
    right: 0;
    padding-right: rem(strip-unit(41px));
    // left: calc(rem(strip-unit(770px)));
    // transform: translate(-50%, -50%);
  }
}

.aboutus__title {
  display: inline-block;
  color: $d-green;
  font-family: $third-font-family;
  font-weight: $normal;
  font-size: rem(strip-unit(40px));
  line-height: 1; /* 100% */
  @include mq(md) {
    color: $white;
    font-size: rem(strip-unit(80px));
    max-width: rem(strip-unit(400px));

    line-height: 1.25; /* 100px 125% */
  }
}

.aboutus__container {
  @include mq(md) {
    max-width: rem(strip-unit(400px));
  }
}

.aboutus__text {
  color: $black;
  font-size: rem(strip-unit(16px));
  line-height: 1.5; /* 150% 24px */
  @include mq(md) {
    color: $white;
    font-size: rem(strip-unit(16px));
    min-width: rem(strip-unit(400px));
  }
}

.aboutus__button {
  margin-top: rem(strip-unit(26px));
  //   margin-inline: auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  padding-right: rem(strip-unit(16px));
  @include mq(md) {
    margin-top: rem(strip-unit(40px));
  }
}

//--- backup

// .aboutus {
// }

// .aboutus__wrapper {
//   margin-top: rem(strip-unit(24px));
//   //   display: flex;
//   //   flex-direction: column;
// }

// .aboutus__images {
//   position: relative;
// }

// .aboutus__image {
//   position: absolute;
// }

// .aboutus__image-main {
//   z-index: 10;
//   top: rem(strip-unit(26px));
//   right: 0;
//   width: clamp(17.563rem, -16.039rem + 143.37vw, 52.688rem);
//   //   281px->843px |  3759x->767px
// }

// .aboutus__image-sub {
//   top: 0;
//   left: 0;
//   z-index: 11;
//   //   width: rem(strip-unit(194px));
//   width: clamp(8rem, -7.306rem + 65.31vw, 24rem);
//   //   128px->384px |  3759x->767px
//   img {
//     object-fit: cover;
//     width: 100%;
//     aspect-ratio: 194/128;
//   }
//   //   .c-imgZoom {
//   //     position: relative;
//   //     overflow: hidden;

//   //     img {
//   //       object-fit: cover;
//   //       transition: transform 0.8s;
//   //     }
//   //   }

//   @include mq(md) {
//     .c-imgZoom:hover img {
//       transform: scale(1.2);
//       transition: transform 0.8s;
//     }
//   }
// }

// }

// .aboutus__content {
//   z-index: 15;
//   padding-top: clamp(17.563rem, -16.039rem + 143.37vw, 52.688rem);
//   //   281px->843px |  3759x->767px
// }

// .aboutus__title {
//   color: $d-green;
//   font-family: $third-font-family;
//   font-weight: $normal;
//   font-size: rem(strip-unit(40px));
//   line-height: 1; /* 100% */
// }

// .aboutus__text {
//   color: $black;
//   font-size: rem(strip-unit(16px));
//   line-height: 1.5; /* 150% 24px */
// }

// .aboutus__button {
//   margin-top: rem(strip-unit(50px));
//   margin-inline: auto;
//   @include mq(md) {
//     margin-top: rem(strip-unit(50px));
//   }
// }
