@use "global" as *;

.campaign {
  padding-bottom: rem(strip-unit(40px));
  @include mq(md) {
    // margin-top: rem(strip-unit(120px));
    margin-top: rem(strip-unit(40px));
  }
}

// .campaign__inner {
//   @include mq(md) {
//     margin-right: 0;
//   }
// }

.campaign__wrapper {
  margin-top: rem(strip-unit(8px));
  @include mq(md) {
    width: rem(strip-unit(1280px));
    margin-left: auto;
    padding-left: rem(strip-unit(20px));
  }
}

.campaign__button {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(strip-unit(40px));
  @include mq(md) {
    margin-top: rem(strip-unit(40px));
  }
}
.campaign__list {
  width: rem(strip-unit(280px));
}

.campaign__slide {
  margin-top: rem(strip-unit(24px));
  margin-block: rem(strip-unit(10px));

  @include mq(md) {
    margin-top: rem(strip-unit(40px));
  }
}

.splide__track {
}

.splide__list {
}

.campaign__list {
}

.campaign__slide {
  // width: rem(strip-unit(280px));
}

.slide__img-wrapper {
  // border: 1px solid red;
  // width: rem(strip-unit(280px));
  // @include mq(md) {
  //     width: rem(strip-unit(334px));
  // }
  height: rem(strip-unit(188px));
  img {
    aspect-ratio: 280 / 188;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  @include mq(md) {
    height: rem(strip-unit(223px));
    img {
      aspect-ratio: 334 / 223;
    }
  }
}

.splide__img {
  // height: rem(strip-unit(188px));
  // margin-inline: auto;
  // img {
  //   aspect-ratio: 280 / 188;
  //   width: 100%;
  //   height: auto;
  //   object-fit: cover;
  // }
  // @include mq(md) {
  //   width: rem(strip-unit(334px));
  //   height: rem(strip-unit(223px));
  //   img {
  //     aspect-ratio: 334 / 223;
  //   }
  // }
}

.campaign__slide {
  background: $white;
  // box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: rem(strip-unit(2px)) rem(strip-unit(2px)) rem(strip-unit(10px))
    rem(strip-unit(0px)) rgba(0, 0, 0, 0.25);
  // width: rem(strip-unit(280px));
}

.slide__content {
  padding-top: rem(strip-unit(16px));
  padding-bottom: rem(strip-unit(24px));
  padding-inline: rem(strip-unit(16px));
  @include mq(md) {
    padding-top: rem(strip-unit(24px));
  }
}

.slide__tag {
  display: inline-block;
  color: $d-green;
  font-size: rem(strip-unit(12px));
  line-height: 1.8333; /* 183.333% 22px*/
  border: rem(strip-unit(1px)) solid $d-green;
  padding-inline: rem(strip-unit(10px));
  padding-block: rem(strip-unit(4px));
  // padding-bottom: rem(strip-unit(2px));
  @include mq(md) {
    padding-inline: rem(strip-unit(14px));
  }
}

.slide__title {
  font-size: rem(strip-unit(16px));
  font-weight: $medium;
  line-height: 1.5; /* 150% */
  margin-top: rem(strip-unit(1px));
  @include mq(md) {
    margin-top: rem(strip-unit(6px));
  }
}

.slide__body {
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(8px));
  justify-content: center;
  align-items: center;
  border-top: 1px solid $d-green;
  margin-top: rem(strip-unit(6px));
  padding-top: rem(strip-unit(8px));

  @include mq(md) {
    margin-top: rem(strip-unit(8px));
    gap: rem(strip-unit(6px));
    padding-left: rem(strip-unit(18px));
    padding-right: rem(strip-unit(19px));
  }
}

.slide__head {
  display: block;
  font-size: rem(strip-unit(14px));
  line-height: 1.71429; /* 24px 171.429% */
  @include mq(md) {
    margin-top: rem(strip-unit(8px));
    font-size: rem(strip-unit(16px));
    margin-left: rem(strip-unit(-20px));
  }
}

.slide__price {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: end;
  gap: rem(strip-unit(16px));
  @include mq(md) {
    // gap: rem(strip-unit(12px));
    justify-content: space-between;
    gap: 0;
    width: 100%; // ← 追加する
  }
}

.slide__old-price {
  font-family: $head-font-family;
  font-size: rem(strip-unit(20px));
  line-height: 1; /* 100% */
  text-decoration: line-through; // 抹線（打ち消し線）を引く
  text-decoration-color: #ff0000; // 抹線の色を赤に設定
  text-decoration-thickness: rem(strip-unit(3px)); // 線の太さを指定
  // &::after {
  //   content: "";
  //   border: 1px solid red;
  //   width: 100%;
  // }
  @include mq(md) {
    font-size: rem(strip-unit(24px));
    padding-bottom: rem(strip-unit(6px));
    // padding-left: rem(strip-unit(18px));
    // width: rem(strip-unit(149px));
  }
}

.slide__new-price {
  color: $d-green;
  font-family: $head-font-family;
  font-size: rem(strip-unit(32px));
  font-weight: $bold;
  line-height: 1; /* 100% */
  @include mq(md) {
    font-size: rem(strip-unit(40px));
    text-align: left;
    width: rem(strip-unit(149px));
  }
}

.splide__arrow-button {
  background-color: transparent; /* ボタンの背景を透明にする */
  height: 50px;
  transition: 0.2s;
  width: 30px;
  color: $d-green; /* 矢印の色を緑にする */

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: rem(strip-unit(5px)) solid transparent;
    border-right: rem(strip-unit(5px)) solid transparent;
    border-top: rem(strip-unit(10px)) solid $d-green; /* 矢印の色を緑にする */
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1); /* ホバー時の背景色 */
  }
}

/* 前の矢印 */
.prev::before {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
/* 次の矢印 */
.next::before {
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
/* 次のスライドが無い場合の矢印 */
.button:disabled::before {
  background-color: #ccc;
}
/* スライドのサイズ調整 */
.splide__slide img {
  height: auto;
  width: 100%;
}
