@use "global" as *;

.contact {
  position: relative;
  margin-top: rem(strip-unit(80px));
  // margin-bottom: rem(strip-unit(100px));
  @include mq("md") {
    margin-top: rem(strip-unit(140px));
    // margin-bottom: rem(strip-unit(160px));
  }
}

.contact__decoration {
  display: block;
  position: absolute;
  top: rem(strip-unit(-25px));
  // right: rem(strip-unit(32px));
  left: calc(
    50% + clamp(4rem, 0.185rem + 15.26vw, 7.5rem)
  ); //64px->120px | 400px ->767 px
  width: rem(strip-unit(109px));
  height: rem(strip-unit(50px));
  transform: scaleX(-1); // 横方向に反転
  @include mq("md") {
    top: rem(strip-unit(-36px));
    // left: rem(strip-unit(32px));

    left: calc(
      50% + clamp(6.25rem, -13.036rem + 40.18vw, 23.125rem)
    ); //100px->370px | 768px ->1440 px

    width: rem(strip-unit(301px));
    height: rem(strip-unit(138px));
    transform: scaleX(-1); // 横方向に反転
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: rem(strip-unit(25px));
  gap: rem(strip-unit(40px));
  @include mq("md") {
    flex-direction: row;
    gap: rem(strip-unit(22px));
    background: $white;
    box-shadow: rem(strip-unit(4px)) rem(strip-unit(4px)) rem(strip-unit(10px))
      0px rgba(0, 0, 0, 0.25);
    padding-bottom: rem(strip-unit(80px));
    padding-top: rem(strip-unit(68px));
  }
}

.contact_contents {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  @include mq("md") {
    text-align: left;
    width: 52%;
    padding-left: rem(strip-unit(24px));
    padding-right: rem(strip-unit(56px));
    padding-top: rem(strip-unit(16px));
  }
}

.contact__head {
  @include mq("md") {
    width: 48%;
    border-left: rem(strip-unit(1px)) solid $d-green;
    padding-top: rem(strip-unit(18px));
  }
}

.contact__logo {
  margin-inline: auto;
  border-bottom: rem(strip-unit(1px)) solid $d-green;
  //   width: rem(strip-unit(295px));
  padding-bottom: rem(strip-unit(8px));

  img {
    margin-inline: auto;
    width: rem(strip-unit(174px));
    display: block;
    aspect-ratio: 174/65;
    object-fit: cover;
    height: auto;
    @include mq(md) {
      width: rem(strip-unit(200px));
    }
  }
}

.contact__location {
  text-align: center;
  display: flex;
  flex-direction: column;

  @include mq("md") {
    text-align: left;
    flex-direction: row;
    margin-top: rem(strip-unit(22px));
  }
}

.contact__map {
  width: 100%;
  @include mq(md) {
    // width: rem(strip-unit(273px));
    width: clamp(10.625rem, -15.125rem + 40.23vw, 17.063rem);

    margin-left: auto;
  }
  iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 295/160; //縦横比を設定
    vertical-align: top;
    @include mq(md) {
      aspect-ratio: 273/148; //縦横比を設定
    }
  }
}

.contact__details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(4px));
  padding-block: rem(strip-unit(15px));
  // margin-top: rem(strip-unit(8px));
  @include mq("md") {
    column-gap: rem(strip-unit(20px));
    text-align: left;
    padding-top: rem(strip-unit(0px));
  }
}

.contact__details-address {
  padding-right: rem(strip-unit(10px));
}

.contact__details-telephone {
}

.contact__details-business-hours {
}

.contact__details-holiday {
}

.contact__title {
}

.contact__message {
  color: $d-green;
  text-align: center;
  padding-top: rem(strip-unit(6px));
  line-height: 1.28571; /* 18px 128.571% */
  letter-spacing: -0.13em;
  @include mq(md) {
    padding-right: rem(strip-unit(4px));
  }
}

.contact__button {
  margin-top: rem(strip-unit(40px));
  @include mq(md) {
    margin-top: rem(strip-unit(40px));
    padding-right: rem(strip-unit(8px));
  }
}
