@use "global" as *;

/*----------------------------------
    fv
-----------------------------------*/

.fv {
  // margin-top: $height-sp;
  // 修正後：100dvhでより正確な高さに対応
  height: 100dvh; // viewportの高さをデバイス基準に固定
  position: relative;
  @include mq(md) {
    // margin-top: $height-pc;
    // 必要に応じてPCでも100vhを使う場合は切り替える
    height: 100vh;
  }
}

.fv__head {
  color: $white;
  position: absolute;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;

  @include mq(md) {
    top: 50%;
  }
}

.fv__head-main {
  font-family: $head-font-family;
  font-weight: $normal;
  font-size: rem(strip-unit(40px));
  letter-spacing: rem(strip-unit(21.6px));
  padding-left: rem(strip-unit(20px));

  @include mq(md) {
    font-size: rem(strip-unit(80px));
    line-height: 1.25; /* 125% */
    // letter-spacing: rem(strip-unit(43.4px));
    letter-spacing: rem(strip-unit(42px));
    padding-left: rem(strip-unit(40px));
  }
}

.fv__head-sub {
  font-family: $third-font-family;
  font-weight: $normal;
  font-size: rem(strip-unit(20px));
  margin-top: rem(strip-unit(-3px));

  @include mq(md) {
    margin-top: rem(strip-unit(3px));
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.splide__slide.is-active .fv__image,
.splide__slide.is-duplicate-active .fv__image,
.splide__slide.is-prev .fv__image {
  animation: zoomUp 10s linear 0s 1 normal both;
  height: 100vh;
}
.fv__splide {
}

// .fv__splide .splide__arrow {
//   display: none;
// }

// .splide__pagination {
//   display: none;
// }

.fv__image {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // aspect-ratio: 1920 / 1080; // 16:9
  }
}
