@use "global" as *;

.price {
  background: $b-gray;
  margin-top: 0;
  padding-top: rem(strip-unit(80px));
  padding-bottom: rem(strip-unit(82px));
  position: relative;
  @include mq("md") {
    margin-top: rem(strip-unit(40px));
    // margin-top: 0;
    padding-top: rem(strip-unit(100px));
    padding-bottom: rem(strip-unit(100px));
  }
}

.price__decoration {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    bottom: rem(strip-unit(-180px));
    // left: rem(strip-unit(32px));
    left: calc(
      50% - clamp(23.125rem, 5.268rem + 37.2vw, 38.75rem)
    ); //370px->620px | 768px ->1440 px
    width: rem(strip-unit(437px));
    height: rem(strip-unit(437px));
    transform: scaleX(-1); // 横方向に反転
  }
}

.price__title {
}

.price__wrapper {
  margin-top: rem(strip-unit(27px));
  @include mq("md") {
    margin-top: rem(strip-unit(40px));
  }
}

.price__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: rem(strip-unit(40px));

  @include mq("md") {
    flex-direction: row;
    // gap: rem(strip-unit(93px));
    gap: clamp(2.25rem, -4.083rem + 13.19vw, 5.813rem);
    // 36px->93px | 768px->1440px
    align-items: flex-start; // 画像の高さに合わせて伸ばす
  }
}

.price__table {
  width: 100%;
  @include mq("md") {
    // width: 50%;
    align-self: flex-start; // 必要に応じて配置を調整
    padding-left: rem(strip-unit(2px));
  }
}

.price-table__title {
  color: $black;

  font-size: rem(strip-unit(16px));

  font-weight: $bold;
  line-height: 1.5; /* 24px 150% */
  border-bottom: 1px solid $d-green;
  padding-bottom: rem(strip-unit(4px));
}

.price-table__list {
  margin-bottom: rem(strip-unit(39px));
}

.price-table__item {
  display: flex;
  justify-content: space-between;
  padding-top: rem(strip-unit(8px));
  @include mq(md) {
    // width: rem(strip-unit(492px));
    // width: clamp(8.125rem, 6.792rem + 2.78vw, 8.875rem);
    // display: flex; // 必要に応じて調整
    align-items: center; // 中央揃え（必要に応じて）
    // letter-spacing: 0.128em;
  }
}

.price-table__name {
  font-size: rem(strip-unit(14px));
  line-height: 1.71429; /* 24px 171.429% */
  @include mq(md) {
    letter-spacing: 0.142em;
  }
}

.price-table__price {
  text-align: right;
  font-size: rem(strip-unit(14px));
  line-height: 1.71429; /* 24px 171.429% */
  // padding-top: rem(strip-unit(8px));
  @include mq(md) {
    letter-spacing: 0.05em;
    padding-right: 2px;
    // padding-top: 0;
  }
}

.price__img {
  width: 100%;
  height: auto;
  // max-width: rem(strip-unit(492px)); // レスポンシブ対応
  flex-shrink: 0;
  aspect-ratio: 345 / 227;

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    display: block; // 画像下の余白（inline要素の隙間）対策
    // aspect-ratio: 345 / 227;
  }

  @include mq(md) {
    width: rem(strip-unit(492px));

    aspect-ratio: 492 / 746; // レスポンシブ対応

    display: flex; // 必要に応じて調整
    align-items: start; // 中央揃え（必要に応じて）
  }
}

.price__image {
}

.price__button {
  padding-right: rem(strip-unit(4px));
  @include mq("md") {
    margin-top: rem(strip-unit(80px));
  }
}
