@use "global" as *;

.button {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
}

.button__link {
  display: inline-block;
  padding-block: rem(strip-unit(16px));
  padding-left: rem(strip-unit(40px));
  padding-right: rem(strip-unit(88px));
  color: $white;
  background-color: $d-green;

  font-size: rem(strip-unit(14px));
  font-family: $third-font-family;
  text-align: center;

  border: 1px solid transparent;
  //   text-decoration: none;
  transition: 0.3s;
  position: relative;
  z-index: 1; // z-indexを明示

  //擬似要素で枠線を作る
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: rem(strip-unit(4px));
    left: rem(strip-unit(4px));
    width: rem(strip-unit(202px));
    height: rem(strip-unit(54px));
    border: 1px solid $d-green;
    z-index: -1;
  }

  // 追加: 背景スライド用アニメーション
  &.slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $white; // ホバー時の背景
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left top;
    transition: transform 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
  }

  &.slide:hover::after {
    transform: scaleX(1);
  }

  // 擬似要素で矢印を作る
  span {
    position: relative;
    display: inline-block;

    // 横棒
    &::before {
      content: "";
      position: absolute;
      top: calc(50% + rem(strip-unit(1.8px)));
      translate: 0 -50%;
      left: calc(100% + rem(strip-unit(9px)));
      width: 40px;
      height: 1px;
      background: $white;
      // transition: width 0.5s ease;
      transition: 0.3s;
    }

    // 斜め棒
    &::after {
      content: "";
      position: absolute;
      top: calc(50% + rem(strip-unit(-1.7px)));
      translate: 0 -50%;
      rotate: 45deg;
      left: calc(100% + 40px);
      width: 10px;
      height: 1px;
      background: $white;
      // transition: left 0.5s ease;
      transition: 0.3s;
    }
  }

  // hover時
  &:focus,
  &:hover {
    background-color: $white;
    border-color: currentColor;
    color: $d-green;
    // &.slide {
    //   color: $white; // スライド専用ホバー色（背景色に対して視認性）
    // }
  }

  // hover時
  @media (any-hover: hover) {
    &:hover {
      // border: 1px solid #000;
      border-color: $d-green;

      span {
        &::before,
        &::after {
          background: $d-green;
          // スライドの場合
          // .slide & {
          //   background: $white;
          // }
        }
      }
    }
  }
}
