@use "global" as *;
.footer {
  background: $d-green;
  color: $white;
  padding-top: rem(strip-unit(48px));
  padding-bottom: rem(strip-unit(56px));
  margin-top: rem(strip-unit(100px));
  @include mq("md") {
    padding-top: rem(strip-unit(80px));
    padding-bottom: rem(strip-unit(80px));
    margin-top: rem(strip-unit(160px));
  }
}

.footer__inner {
  @include mq("md") {
    padding-right: 0;
  }
}

.footer__brand {
  display: flex;
  flex-direction: column;
  //   margin-block: rem(strip-unit(48px));
  gap: rem(strip-unit(16px));
  @include mq(md) {
    flex-direction: row;
    align-items: end;
    gap: rem(strip-unit(40px));
  }
}

.footer__logo {
  a {
    img {
      width: rem(strip-unit(120px));
      display: block;

      @include mq(md) {
        width: rem(strip-unit(200px));
      }
    }
    &:hover {
      opacity: 0.6; // ホバー時にロゴの透明度を下げます
      transition: opacity 0.3s ease; // ホバー時のトランジションを追加
      cursor: pointer; // マウスカーソルが指のアイコンに変わります
    }
  }
}

.footer__sns {
  display: flex;
  flex-direction: row;
  gap: rem(strip-unit(16px));
}

.footer__sns-item {
  a {
    &:hover {
      opacity: 0.6; // ホバー時にロゴの透明度を下げます
      transition: opacity 0.3s ease; // ホバー時のトランジションを追加
      cursor: pointer; // マウスカーソルが指のアイコンに変わります
    }
  }
}

.footer__sns-link {
  img {
    width: rem(strip-unit(24px));
    height: rem(strip-unit(24px));
    @include mq(md) {
      width: rem(strip-unit(32px));
      height: rem(strip-unit(32px));
    }
  }
}

.fab {
}

.fa-facebook-f {
}

.fa-instagram {
}

.footer__nav {
  //   display: flex;
  //   flex-direction: row;
  //   //   gap: rem(strip-unit(32px));
  display: flex;
  flex-wrap: wrap;
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  margin-top: rem(strip-unit(40px));

  @include mq("md") {
    // grid-template-columns: repeat(4, 1fr);
    margin-top: rem(strip-unit(22px));
    // max-width: rem(strip-unit(1024px));
    // gap: rem(strip-unit(4px));
  }
}

.footer__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(23px));

  &:nth-child(1) {
    order: 1; // デフォルトは順番通り
    .footer__heading {
      &:not(:first-child) {
        //私たちについて
        // border: 1px solid red;
        margin-top: rem(strip-unit(15px));
      }
    }
  }

  &:nth-child(2) {
    // border: 1px solid red;
    order: 3; // 3番目に表示
    .footer__heading {
      &:nth-child(1) {
        //ダイビング情報
        // border: 1px solid red;
        margin-top: rem(strip-unit(12px));
      }
      &:nth-child(3) {
        //ブログ
        // border: 1px solid red;
        margin-top: rem(strip-unit(16px));
      }
      // margin-top: rem(strip-unit(12px));
    }
  }

  &:nth-child(3) {
    // border: 1px solid blue;
    order: 2; // 2番目に表示
    padding-left: rem(strip-unit(12px));
    .footer__heading {
      &:nth-child(2) {
        // border: 1px solid red;
        margin-top: rem(strip-unit(12px));
      }
    }
  }

  &:nth-child(4) {
    order: 4; // 4番目に表示
    padding-left: rem(strip-unit(12px));
    .footer__heading {
      &:nth-child(1) {
        // border: 1px solid red;
        margin-top: rem(strip-unit(12px));
      }
      &:nth-child(2) {
        //プライバシーポリシー
        // border: 1px solid red;
        margin-top: rem(strip-unit(13px));
      }
      &:nth-child(3) {
        //利用規約
        // border: 1px solid red;
        margin-top: rem(strip-unit(13px));
      }
      &:nth-child(4) {
        //利用規約
        // border: 1px solid red;
        margin-top: rem(strip-unit(13px));
      }
    }
  }

  &:nth-child(2),
  &:nth-child(4) {
    margin-top: rem(strip-unit(24px));
  }

  @include mq(md) {
    width: 25%;
    margin-top: rem(strip-unit(0));
    gap: rem(strip-unit(24px));

    &:nth-child(1) {
      order: 1; // デフォルトは順番通り
      .footer__heading {
        &:not(:first-child) {
          //私たちについて
          margin-top: rem(strip-unit(12px));
        }
      }
    }

    &:nth-child(2) {
      // border: 1px solid red;
      order: 2;
      padding-left: rem(strip-unit(16px));
      .footer__heading {
        &:nth-child(1) {
          //ダイビング情報
          margin-top: rem(strip-unit(0px));
        }
        &:nth-child(3) {
          //ブログ
          // border: 1px solid red;
          margin-top: rem(strip-unit(14px));
        }
      }
    }

    &:nth-child(3) {
      // border: 1px solid blue;
      order: 3;
      padding-left: rem(strip-unit(16px));
    }

    &:nth-child(4) {
      order: 4;
      padding-left: rem(strip-unit(15px));
      .footer__heading {
        &:nth-child(1) {
          //ダイビング情報
          margin-top: rem(strip-unit(0px));
        }
      }
    }
    &:nth-child(2),
    &:nth-child(4) {
      margin-top: 0;
    }
  }
}

.footer__heading {
  padding-left: rem(strip-unit(20px)); //26px
  font-weight: $bold;
  line-height: 1.125; /* 18px 112.5% */
  letter-spacing: -0.15em;

  position: relative;

  //   &:not(:first-child) {
  //     margin-top: rem(strip-unit(24px));
  //   }

  @include mq(md) {
    margin-top: rem(strip-unit(0));
  }

  a {
    &:hover {
      opacity: 0.6; // ホバー時にロゴの透明度を下げます
      transition: opacity 0.3s ease; // ホバー時のトランジションを追加
      cursor: pointer; // マウスカーソルが指のアイコンに変わります
    }
  }

  &::before {
    position: absolute;
    content: "";
    background: url("../../assets/images/footer/icon-footer_01.webp") no-repeat
      center / contain;
    display: block;
    width: rem(strip-unit(18px));
    height: rem(strip-unit(18px));
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(24px));
}

.footer__item {
  padding-left: rem(strip-unit(23px));
  line-height: 1.125; /* 112.5% 18px */
  @include mq(md) {
    padding-left: rem(strip-unit(22px));
  }
  a {
    &:hover {
      opacity: 0.6; // ホバー時にロゴの透明度を下げます
      transition: opacity 0.3s ease; // ホバー時のトランジションを追加
      cursor: pointer; // マウスカーソルが指のアイコンに変わります
    }
  }
}

.footer__copyright {
  text-align: center;
  font-family: $third-font-family;
  font-size: rem(strip-unit(12px));

  line-height: 1.5; /* 18px 150% */
  margin-top: rem(strip-unit(38px));
  letter-spacing: 0.08em;
  //   text-align: justify;
  @include mq(md) {
    margin-top: rem(strip-unit(80px));
    font-size: rem(strip-unit(14px));
    line-height: 1.28571; /* 18px 128.571% */
  }
}
