@use "global" as *;

// $height-pc: rem(strip-unit(90px));
// $height-sp: rem(strip-unit(80px));
// $padding-pc: rem(strip-unit(40px));
// $padding-sp: rem(strip-unit(15px));
// // $navGap: rem(strip-unit(60px));
// $listGap: rem(strip-unit(40px));

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(strip-unit($height-sp));
  z-index: 80;
  background: transparentize($black, 0.32); //rgba(13, 41, 54, 0.68)

  @include mq("md") {
    height: rem(strip-unit($height-pc));
  }
}

.header__inner {
  padding-inline: rem(strip-unit($padding-sp));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  @include mq("md") {
    padding-inline: rem(strip-unit($padding-pc));
  }
}

.header__logo {
  z-index: 100;
  a {
    img {
      width: rem(strip-unit(102px));
      display: block;

      @include mq(md) {
        width: rem(strip-unit(133px));
      }
    }
  }
}

.header__nav {
  display: none;
  @include mq(md) {
    display: flex;
    align-items: center;
    // column-gap: $navGap;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  column-gap: rem(strip-unit($listGap));
}

.header__link {
  color: $white;
  //   font-size: 12px;
  transition: color 0.3s; /* hoverする前のクラスにつける*/
  text-align: center;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: rem(strip-unit(-4px));
    left: 0;
    width: 100%;
    height: rem(strip-unit(2px));
    background: $white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
  }
  /* ホバー */
  &:hover {
    // color: $d-green;

    &::after {
      transform: scale(1, 1);
    }
  }
}

.header__link-en {
  font-size: rem(strip-unit(18px));
  font-family: $third-font-family;
  font-weight: $normal;
  line-height: 1; /* 100% */
}

.header__link-jp {
  font-size: rem(strip-unit(10px));
  font-weight: $normal;
  line-height: 1.5; /* 150% */
}

.drawer-icon {
  position: relative;
  width: rem(strip-unit(32px));
  height: rem(strip-unit(24px));
  z-index: 100;
  transition: transform 0.3s;
  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: rem(strip-unit(10px));
        transform: rotate(37deg);
        width: rem(strip-unit(40px));
        left: rem(strip-unit(-4px));
        transition: transform 0.3s;
        // top: rem(strip-unit(24px));
        // transform: rotate(45deg);
        // width: rem(strip-unit(32px));
      }
      &:nth-of-type(2) {
        display: none;
        transition: transform 0.3s;
      }
      &:nth-of-type(3) {
        top: rem(strip-unit(10px));
        transform: rotate(-37deg);
        width: rem(strip-unit(40px));
        left: rem(strip-unit(-4px));
        transition: transform 0.3s;
        // top: rem(strip-unit(24px));
        // transform: rotate(-45deg);
      }
    }
  }
  @include mq(md) {
    display: none;
  }
}
.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(strip-unit(32px));
  height: rem(strip-unit(1px));
  //   border-radius: 6px;
  background: $white;
  transition: transform 0.3s linear, top 0.3s linear; //linear:一定速度

  &:nth-of-type(1) {
  }
  &:nth-of-type(2) {
    top: rem(strip-unit(12px));
  }
  &:nth-of-type(3) {
    top: rem(strip-unit(24px));
  }
}

.drawer-content {
  //初期表示では非表示
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; //要検討
  height: 100vh;
  // padding-top: rem(strip-unit(42px));
  padding-top: $height-sp;
  color: $white;
  background: $d-green;
  // background: color.$red;
  z-index: 99;
  transform: translateX(100%); //コンテンツ分が100%移動

  @include mq(md) {
    display: none;
  }
  &.is-checked {
    transform: translateX(0);
    transition: transform 0.3s linear, top 0.3s linear; //linear:一定速度
  }
}

.drawer-content__body {
  display: flex;
  flex-direction: row;
  gap: rem(strip-unit(20px));
  // margin-top: rem(strip-unit(20px));
}

.drawer-content__body {
}

.drawer-content__nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(strip-unit(9px));
}

.drawer-content__column {
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(23px));
  width: 50%;

  &:nth-child(1) {
    order: 1; // デフォルトは順番通り
  }

  &:nth-child(2) {
    // border: 1px solid red;
    order: 3; // 3番目に表示
  }

  &:nth-child(3) {
    // border: 1px solid blue;
    order: 2; // 2番目に表示
  }

  &:nth-child(4) {
    order: 4; // 4番目に表示
  }

  &:nth-child(2),
  &:nth-child(4) {
    margin-top: rem(strip-unit(24px));
  }
}

.drawer-content__heading {
  padding-left: rem(strip-unit(20px));
  font-weight: $bold;
  line-height: 1.125; /* 18px 112.5% */
  letter-spacing: -0.15em;
  margin-top: rem(strip-unit(14px));
  position: relative;

  &:nth-child(1) {
    // margin-top: rem(strip-unit(0));
  }

  &::before {
    position: absolute;
    content: "";
    background: url("../../assets/images/footer/icon-footer_01.webp") no-repeat
      center / contain;
    display: block;
    width: rem(strip-unit(18px));
    height: rem(strip-unit(18px));
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.drawer-content__list {
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(24px));
}

.drawer-content__item {
  padding-left: rem(strip-unit(22px));
  line-height: 1.125; /* 112.5% 18px */
}
