@use "global" as *;

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: rem(strip-unit(4px));
  @include mq(md) {
    gap: rem(strip-unit(8px));
  }
}

.title-en {
  font-family: $third-font-family;
  font-size: rem(strip-unit(32px));
  font-weight: $normal;
  line-height: 1.25; /* 32px */

  @include mq(md) {
    font-size: rem(strip-unit(40px));
    line-height: 1; /* 40px */
  }
}

.title-jp {
  font-size: rem(strip-unit(12px));
  color: $d-green;
  line-height: 1.5; /* 18px */
}

/*----------------------------------
    title blogバージョン
-----------------------------------*/

.blog__title {
  @include mq(md) {
    color: $white;

    span {
      color: $b-gray;
    }

    .title-jp {
      color: $white;
    }
  }
}

/*----------------------------------
    title contactバージョン
-----------------------------------*/

.contact__title {
  // gap: rem(strip-unit(0px));

  .title-en {
    font-size: rem(strip-unit(80px));
    line-height: 1; /* 80px 100% */
  }
  .title-jp {
    margin-top: rem(strip-unit(-8px));
    @include mq(md) {
      margin-top: rem(strip-unit(-16px));
    }
  }
}
