@use "global" as *;

.title-en {
  font-family: $third-font-family;
  font-size: rem(strip-unit(32px));
  line-height: 1.25; /* 32px */
  @include mq(md) {
    font-size: rem(strip-unit(40px));
    line-height: 1; /* 40px */
  }
}
